body {
  background-color: #303030;
  text-align: justify;
  font-size: 14px;

  color: #f0f0f0;
}

.navbar.bg-light {
  background-color: #f3e2b3 !important;
}

li a:hover {
  color: white;
  background-color: #808080;
}


div.upload {
  width: 364px;

  height: 300px;
  margin: 0px auto;
  margin-top: 80px;
  text-align: center;
  /*border-style: solid;
    border-width: 1px;*/
}


p.big {
  line-height: 25px;
  text-indent: 150px;
}

h1 {
  font-size: xx-large;
  text-shadow: 3px 3px 3px #000000;
}
h2 {
  font-size: x-large;
  text-shadow: 3px 2px 2px #000000;
  margin-top: 20px;
  /*color:chocolate*/
  line-height: 40px;
}
h4 {
  color: #f0f0f0;
  line-height: 35px;
}


.title2 {
  font-size: 16px;
  color: #f0f0f0;
  line-height: 32px;
}

.topnav a:hover {
  border-bottom: 3px solid red;
}

/*  */
.navbar.bg-light {
  background-color: #f3e2b3 !important;
}
.navbar.bg-light.form-control {
  border-radius: 4.25rem;
}
